{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div class="area-login-admin-produto"> 
   <div class="login-admin-produto">
    <h2>Novo Produto</h2>
  <form action="/admin/produtos/novo" method="post" enctype="multipart/form-data">
    <label for="nome">Nome</label>
    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome do produto" required>

    <label for="preco">Preço</label>
    <input class="form-control" type="number" step="any" name="preco" id="preco" placeholder="Preço do produto" required>
    
    <label for="image">Imagem</label>
    <input class="form-control" type="file" name="image" id="image" required>


    <label for="quantEstoque">Quantidade</label>
    <input class="form-control" type="number" name="quantEstoque" id="quantEstoque" placeholder="Quantidade que deseja adicionar" required>

    <label for="categoria">Selecione a categoria</label>
    <select name="categoria" id="categoria" required>
      {{#each categorias}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <label for="marca">Selecione a marca</label>
    <select name="marca" id="marca" required>
      {{#each marcas}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>

    <br>
    <button class="btn btn-info">Criar produto</button>
  </form>
</div>
</div>