<h2>Lista de Cupons:</h2>
<hr>
<center>
<a href="/admin/cupons/add"><button class="btn btn-info m-4">Novo Cupom</button></a>
</center>

        <div class="admin-container">
{{#each cupons}}
            <div class="admin" style="height: 300px;">
                <h4>Nome: {{ nome }}</h4>
                <h4>Desconto: {{ desconto }}</h4>
                <a href="/admin/cupons/edit/{{_id}}"><button class="btn btn-success">Editar cupom</button></a>
                <br>
                <form action="/admin/cupons/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar cupom</button>
                </form>
            </div>

{{else}}
    <h4>Nenhum cupom registrado</h4>
{{/each}}
        </div>
<center>
<a href="http://localhost:8088/admin/produtos"><button class="btn btn-info m-4">Voltar para produtos</button></a>
</center>