<h2>Lista de Produtos:</h2>
<hr>
<center>
    <a href="/admin/produtos/add"><button class="btn btn-info m-4">Novo Produto</button></a>
 </center>

<div class="admin-container">
{{#each produtos}}
            <div class="admin">
                {{!-- <img src="{{ imageUrl }}" class="img-thumbnail" style="width: 50px; height: auto;" alt=""> --}}
                <h4>Nome: {{ nome }}</h4>
                <h4>Preço: {{ preco }}</h4>
                <a href="http://localhost:8088/admin/produtos/buscar/{{_id}}" class="btn btn-success">Ver detalhes do produto</a>
                <br>
                <a href="/admin/produtos/edit/{{_id}}"><button class="btn btn-success">Editar produto</button></a>
                <br>
                <form action="/admin/produtos/deletar" method="POST">
                    <input type="hidden" name="id" value="{{_id}}">
                    <button type="submit" class="btn btn-danger">Deletar produto</button>
                </form>
            </div>
{{else}}
    <h4>Nenhum produto registrado</h4>
{{/each}}
</div>
<center>
<a href="http://localhost:8088/admin/carrinho"><button class="btn btn-info m-4">Ir para o carrinho</button></a>
<a href="http://localhost:8088/admin/favoritos"><button class="btn btn-info m-4">Ir para os favoritos</button></a>
<a href="http://localhost:8088/admin/cupons"><button class="btn btn-info m-4">Ver todos os cupons</button></a>
</center>