<h2>Finalize sua compra</h2>
<section id="cart" class="section-p1">
    <table width="100%">
        <thead>
            <tr>
                <td>Adicionar</td>
                <td>Remover</td>
                <td>Imagem</td>
                <td>Produto</td>
                <td>Valor</td>
                <td>Quantidade</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            {{#each produtos }}
            {{!-- {{#if produtos}} --}}
            <tr>
                {{!-- <td> <a href="#"> <i class="far fa-times-circle"></i></a></td> --}}
                <td>
                    <form action="http://localhost:8088/usuarios/carrinho/add-mais-carrinho/{{item._id}}" method="post">
                   <button class="bi bi-plus" id="bi-plus"></button>
                    </form>
                </td>
                <td>
                    <form action="http://localhost:8088/usuarios/carrinho/remover/{{ item._id }}" method="post">
                        {{!-- <input type="hidden" name="id" value="{{ item._id }}"> --}}
                   <button class="bi bi-x-lg" id="bi-x-lg"></button>
                    </form>
                </td>
                <td><img src="../img/Adidas1.webp" alt=""></td>
                <td> {{ item.nome }} </td>
                <td>R$ {{ item.preco }},00</td>
                <td> {{ quantity }} </td>
                <td>R$ {{ price }},00 </td>
            </tr>
            {{/each }}
        </tbody>
    </table>
</section>

<section id="cart-cupom" class="section-p1">
    <div id="cupom">
        <h3><strong>Aplique o cupom</strong></h3>
        <div>
            <form action="http://localhost:8088/usuarios/carrinho" method="get" id="form-cupom">
                <label hidden for="cupom">Cupom de desconto</label>
                <input type="text" name="cupom" id="cupom" placeholder="Insira seu cupom de desconto">
                <button type="submit" id="botaofinal">Aplicar</button>
            </form>

        </div>
    </div>

    <div id="finalizar-compra">
        <h6><strong>Total das compras</strong></h6>
        <table>
            <tr>
                <td>Subtoltal</td>
                
                <td>R${{ precoTotal }}</td>
                
            </tr>
            <tr>
            
                <td>Desconto</td>
                <td>R$ {{ totalDesconto }}</td>
                
            </tr>
            <tr>
                <td><strong>Total</strong></td>
                {{#with cart}}
                <td><strong>R$ {{ totalPrice }}</strong></td>
                {{/with}}
            </tr>
        </table>
        <form action="/usuarios/carrinho/finalizar-compra" method="post">
            <input type="hidden" name="array" value="{{ array }}">
            <button type="submit" style="margin-top:10px" id="botaofinal"
                onclick="window.alert('Compra finalizada')">Comprar</button>
        </form>
        {{!-- <button style="margin-top:10px" id="botaofinal"
            onclick="window.alert('Compra finalizada')">Comprar</button> --}}
    </div>
</section>