<section id="product1" class="section-p1">
    <h2>Lista de desejos</h2>
    <div class="pro-container">
        {{#each produtos }}
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas1.webp" alt="Produto">
            <div class="descricao">
                <span>{{ item.categoria }}</span>
                <h5> {{ item.nome }} </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$ {{ item.preco }},00</h4>
            </div>

            
            <form action="http://localhost:8088/usuarios/carrinho/add-carrinho/{{_id}}" method="post">
                <button type="submit" id="buttoon"> <i class="fal fa-shopping-cart cart"></i> </button>
            </form>

            <form action="/usuarios/favoritos/remover/{{item._id}}" method="POST">
                <input type="hidden" name="id" value="{{item._id}}">
                <button type="submit" id="buttoon"> <i class="bi bi-x-lg"></i> </button>
            </form>
        </div>
        {{/each }}


</section>