<section id="detalhes" class="section-p1">
    <div class="image-produto">
        <img src="../../../img/Adidas1.webp" width="100%" id="Img" alt="Produto em específico">
    </div>

    {{!-- {{#with produto }} --}}
    <div class="detalhes-descricao">
        <h4>{{ produto.nome }}</h4>
        <h4>Descrição do produto</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam, minus similique?</p>
        <strong>
            <h2>R$ {{ produto.preco }},00 </h2>
        </strong>

        <div class="card-body">
            <h4>Nome: {{ produto.nome }}</h4>
            <h4>preco: {{ produto.preco }}</h4>
            <h4>Categoria: {{ produto.categoria }}</h4>
            <h4>Marca: {{ produto.marca }}</h4>
            {{#if baixoEstoque }}
            <h4 style="color: red;">Produto com baixo Estoque! Aproveite as últimas unidades!</h4>
            <h4 style="color: red;">Quantidade restante: {{ produto.quantEstoque }}</h4>
            {{else}}
            {{/if }}

            {{!-- <a href="http://localhost:8088/usuarios/carrinho">ir para o carrinho</a> --}}
        </div>
        <select>
            <option>Select Size</option>
            <option>P</option>
            <option>M</option>
            <option>G</option>
            <option>GG</option>
        </select>
        <form action="http://localhost:8088/usuarios/carrinho/add-carrinho/{{produto._id}}" method="post">
            <button type="submit">Adicionar ao carrinho</button>
        </form>
        <form action="/usuarios/favoritos/add-favoritos/{{produto._id}}" method="post">
            <button type="submit">Adicionar aos favoritos</button>
        </form>
        {{!-- <div class="cor">
            <button style="background: red" id="botao-cor"></button>
            <button style="background: black" id="botao-cor"></button>
            <button style="background: white" id="botao-cor"></button>
            <button style="background: gray" id="botao-cor"></button>
        </div> --}}
        {{!-- <div class="bloco">
            <input type="number" value="1">
            <button id="carrinho">Adicionar ao carrinho</button>
            <button class="fa fa-heart heart" id="heart"></button>
        </div> --}}
        {{!-- <p style="color: red;"> Quantidade disponivel X: </p> --}}
    </div>
    {{!-- {{/with }} --}}

</section>

<section id="product1" class="section-p1">
    <h2>Itens relacionados</h2>
    <p>Conforto e qualidade você encontra aqui!</p>
    <div class="pro-container">
        {{#if conteudo}}
        {{#each produtos}}
        <div class="pro" onclick="window.location.href='./{{ _id }}'">
            <img src="../../../img/Adidas1.webp" alt="Produto">
            <div class="descricao">
                <span>{{ categoria }}</span>
                <h5> {{ nome }} </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$ {{ preco }}</h4>
            </div>
            <form action="http://localhost:8088/usuarios/carrinho/add-carrinho/{{_id}}" method="post">
                <button type="submit">Adicionar ao carrinho</button>
            </form>
            <form action="/usuarios/favoritos/add-favoritos/{{_id}}" method="post">
                <button type="submit">Adicionar aos favoritos</button>
            </form>
            {{!-- <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a> --}}
        </div>
        {{/each}}
        {{else}}
        <p>Não encontramos itens relacionados ao produto '{{ produto.nome }}'</p>
        {{/if}}


</section>