<section id="product1" class="section-p1">
    <h2>Conheça nossos produtos</h2>
    <p>Conforto e qualidade você encontra aqui!</p>
    <div class="pro-container">


        {{#each produtos }}
        <div class="pro" onclick="window.location.href='./produtos/buscar/{{ _id }}'">
            <img src="../img/Adidas1.webp" alt="Produto">
            <div class="descricao">
                <span>{{ categoria }}</span>
                <h5> {{ nome }} </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$ {{ preco }},00</h4>
            </div>

            <form action="http://localhost:8088/usuarios/carrinho/add-carrinho/{{_id}}" method="post">
                <button type="submit">Adicionar ao carrinho</button>
            </form>
            <form action="/usuarios/favoritos/add-favoritos/{{_id}}" method="post">
                <button type="submit">Adicionar aos favoritos</button>
            </form>

            {{!-- <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a> --}}
        </div>
        {{/each }}


        {{!-- <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas2.webp" alt="Produto">
            <div class="descricao">
                <span>esportivo</span>
                <h5>Adizero RC 4</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$499,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas3.webp" alt="Produto">
            <div class="descricao">
                <span>esportivo</span>
                <h5>Supernova+</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$499,99 </h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas4.webp" alt="Produto">
            <div class="descricao">
                <span>esportivo</span>
                <h5>Dropset Trainer</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$799,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas5.webp" alt="Produto">
            <div class="descricao">
                <span>casual</span>
                <h5>Superstar</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$499,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas6.webp" alt="Produto">
            <div class="descricao">
                <span>casual</span>
                <h5>Advantage Base Court </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$299,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas7.webp" alt="Produto">
            <div class="descricao">
                <span>casual</span>
                <h5>Forum 84 LOW</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$699,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas8.webp" alt="Produto">
            <div class="descricao">
                <span>casual</span>
                <h5>Ozelia</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$699,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas9.webp" alt="Produto">
            <div class="descricao">
                <span>infantil</span>
                <h5>Tensaur Sport Training</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$229,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas10.webp" alt="Produto">
            <div class="descricao">
                <span>infantil</span>
                <h5>Tensaur Run</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$149,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas11.webp" alt="Produto">
            <div class="descricao">
                <span>infantil</span>
                <h5>ZX 2K BOOST 2.0</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$349,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div>
        <div class="pro" onclick="window.location.href='./detalhes-produto.html'">
            <img src="../img/Adidas12.webp" alt="Produto">
            <div class="descricao">
                <span>infantil</span>
                <h5>Adidas x Disney Toy Story</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$399,99</h4>
            </div>
            <a href="carrinho.html"><i class="fal fa-shopping-cart cart"></i></a>
            <a href="favoritos.html"><i class="fa fa-heart heart"></i></a>
        </div> --}}

    </div>
</section>