<section id="product1" class="section-p1">
    <h2>Conheça nossos produtos</h2>
    <p>Conforto e qualidade você encontra aqui!</p>
    <div class="pro-container">


        {{#each produtos }}
        <div class="pro" onclick="window.location.href='./produtos/buscar/{{ _id }}'">
            <img src="../img/Adidas1.webp" alt="Produto">
            <div class="descricao">
                <span>{{ categoria }}</span>
                <h5> {{ nome }} </h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>R$ {{ preco }},00</h4>
            </div>
            <form action="http://localhost:8088/usuarios/carrinho/add-carrinho/{{_id}}" method="post">
                <button type="submit" id="buttoon"> <i class="fal fa-shopping-cart cart"></i> </button>
            </form>
            <form action="/usuarios/favoritos/add-favoritos/{{_id}}" method="post">
                <button type="submit" id="buttoon"> <i class="fa fa-heart heart"></i> </button>
            </form>


        </div>
        {{/each }}



    </div>
</section>